html {scroll-behavior: smooth;}

body {
    font-family: 'Roboto', sans-serif;
margin: 0;
padding: 0;
}

header {
height: 100%;
width: 100%;
background-color: #FFFFFF;
box-shadow: 0 0 16px 0 rgba(38, 38, 38, 0.16);}

header .row {
display: flex;
align-items: center;
justify-content: space-between;
padding: 0px 8px;}

.header_logo {
padding: 25px 0px 25px 0px
}

.header_logo img {margin-right: 10px;}

.navigation {display: flex;
align-items: center;}

button {
font-family: 'Roboto', sans-serif;
font-size: 13px;
padding: 12px 23px;
color: #1D1D1D;
background-color: #FFFFFF;
border: 1px solid #E0E0E0;
border-radius: 4px;
font-weight: bold;}

button:hover {background-color: #E0E0E0;}

.navigation img {margin-left: 25px;}

.block {background-image: url(img/photo.png);
height: 364px;
background-size: cover;}

.restorant_card {background-color: #FFFFFF;
box-shadow: 0px 0px 16px rgba(117, 117, 117, 0.2);
border-radius: 2px;
position: relative;
left: 8px;
top: 80px;}

.restorant_card h1 {padding: 15px 0px 10px 0px;
text-align: center;
line-height: 42px;
font-size: 36px;}

.restorant_card>div {
display: flex;
justify-content: space-between;
align-items: center;
padding: 15px 40px 40px 40px;
}

.restorant_card>p {font-size: 14px;
line-height: 16px;
color: #626262;}

.waiting_time {color: #FFFFFF;
background-color: #1D1D1D;
border-radius: 30px;
padding: 10px 15px;
font-size: 14px;
line-height: 16px;}

.menu {height: 80px;
background-color: #FFFFFF;
border: 1px solid #E0E0E0;
display: flex;
flex-direction: row;}

.menu ul {padding: 0px;}

.menu li {list-style: none;
float: left;
padding-right: 40px;
}

.menu_link {
display: inline-block;
text-decoration: none;
color: #626262;
font-size: 16px;
position: relative;}

.menu_link:after {content: "";
display: block;
width: 100%;
height: 1px;
background-color: #626262;
position: absolute;
top: 70%;
transform: scale(0);
transition: all .3s;}

.menu_link:hover:after {display: block;
transform: scale(1);}

.selected {color: #327430;}

.menu_page h4 {margin: 50px 0px 30px 0px;
font-size: 22px;
line-height: 34px;}

.appetizer_underline {width: 50px;
margin-top: 0;
margin-bottom: 25px;
size: 1px;
color: #FFFFFF;
opacity: 0.4;}

.appetizer_card {border: 1px solid rgba(117, 117, 117, .1);
position: relative;
height: 160px;
margin-bottom: 35px;
border-radius: 5px;}

.appetizer_card:hover {background-color: rgba(224, 224, 224, 0.5);}

.appetizer_card img {height: 100%;
position: absolute;
right: 0px;}

.appetizer_card p {padding-left: 16px;}

.appetizer_name {font-size: 16px;
line-height: 24px;
margin-bottom: 0;}

.appetizer_desctiption {font-size: 13px;
line-height: 21px;
color: #626262;
margin-top: 10px;}

.appetizer_price {position: absolute;
bottom: 2px;
font-size: 15px;
line-height: 21px;
font-weight: bold;}

.menu_page {margin-bottom: 50px;}

footer {background-color: #262626;
height: 100%;}

.footer_logo {padding: 40px 0px;}

.footer1 {margin-bottom: 30px;}

hr {margin-top: 0;
margin-bottom: 25px;
size: 1px;
color: #FFFFFF;
opacity: 0.4;}

.language {background-color: #3B3B3B;
height: 40px;
width: 100%;
position: relative;}

.language img {padding: 12px 16px;}

select {
width: 70%;
outline: none;
position: relative;
bottom: 14px;
padding: 10px 0px;
color: white;
border: none;
background-color: #3B3B3B;
appearance: none;
background: url(img/Shape.png) 96% / 8% no-repeat #3B3B3B;}

.hashtag {color: #49A144;}

.social p {font-size: 16px;
margin: 30px 0px 20px 0px;
color: #FFFFFF;}

.footer2 {margin-bottom: 10px;}

.footer2 p {font-size: 13px;
    margin-bottom: 20px;
color: #FFFFFF;}

.footer2 a {text-decoration: none;}

.footer3 {margin-bottom: 10px;}

.footer3 p {font-size: 13px;
    margin-bottom: 20px;
    text-decoration: none;
    color: #FFFFFF;}

.footer3 a {text-decoration: none;}

.row_href {margin-bottom: 50px;}

.download {display: flex;
justify-content: center;
align-items: center;
margin-bottom: 25px;}

.download .img1 {margin-right: 20px;}

.foot p {color: #FFFFFF;
font-size: 11px;
margin-bottom: 15px;}

.rights {padding-bottom: 30px;}

.rights a {text-decoration: none;}

.btn-up {position: fixed;
bottom: 24px;
right: 16px;
transition: 2s;}

@media (max-width: 365px) {
.language select {width: 60%;}
.appetizer_card .appetizer_name {max-width: 170px;}
}

@media (max-width: 415px) {
.appetizer_name {max-width: 200px;}
.appetizer_desctiption {margin-top: 0;}
}

/*Extra small screen*/
@media (max-width: 575px) {
select {width: 67%;}
.container {
max-width: 90%;}
.navigation>a {display: none;}

.restorant_card {position: relative;
top: 130px;
left: 0;}
    
.restorant_card h1 {font-size: 24px;
line-height: 28px;
padding-bottom: 0;}
    
.block {height: 255px;}
    
.menu {display: none;}
    
.restorant_card>div {display: flex;
justify-content: center;
flex-direction: column;}
    
.menu_page h4 {margin: 140px 0px 15px 0px;
text-align: center;
font-size: 22px;
line-height: 34px;}
    
.appetizer_card {height: 102px;
padding: 0px;
border: none;
border-bottom: 1px solid rgba(117, 117, 117, .1);
margin-bottom: 16px;}
    
.appetizer_card p {padding: 0;}
    
.appetizer_price {margin-bottom: 5px;}

.block .container .row {margin: 0px;}
    
}

/*Small screen*/
@media (min-width: 576px) and (max-width: 767px) {
select {width: 78%;}

header .container, .block .container, .menu .container, .menu_page .container, footer .container
{width: 524px;
max-width: 100%;}

.navigation>a {display: none;}

.restorant_card {position: relative;
top: 130px;
left: 0;}

.restorant_card h1 {font-size: 24px;
line-height: 28px;
padding-bottom: 0;}

.block {height: 255px;}

.menu {display: none;}

.restorant_card>div {display: flex;
justify-content: center;
flex-direction: column;}

.menu_page h4 {margin: 140px 0px 15px 0px;
text-align: center;
font-size: 22px;
line-height: 34px;}

.appetizer_card {height: 102px;
padding: 0px;
border: none;
border-bottom: 1px solid rgba(117, 117, 117, .1);
margin-bottom: 16px;}

.appetizer_card p {padding: 0;}

.appetizer_price {margin-bottom: 5px;}

}

/*Medium screen*/
@media (min-width: 768px) and (max-width: 991px) {   
select {width: 64%}

header .container, .block .container, .menu .container, .menu_page .container, footer .container 
{width: 736px;
max-width: 100%;}

.appetizer_underline {display: none;}
}

/*Large screen*/
@media (min-width: 992px) and (max-width: 1199px) {
select {width: 75%}

header .container, .block .container, .menu .container, .menu_page .container, footer .container 
{width: 956px;
max-width: 100%;}

.appetizer_underline {display: none;}
}

/*Extra Large screen*/
@media (min-width: 1200px) {
select {width: 75%}

header .container, .block .container, .menu .container, .menu_page .container, footer .container 
{width: 1164px;
max-width: 100%;}

.appetizer_underline {display: none;}
}